<%- include('header') %>
<link rel="stylesheet" href="/css/signin.css">
<script src="/js/signin.js" charset="utf-8"></script>

<div class="login_container">
    <div class="container login_controller">
        <h2 class="login_title">User Login</h2>
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div style="height: 27px; margin-bottom: 15px">
                <div class="checkbox rememberme">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
                <div class="forgotpassword">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" id="login_button" value="Login">
            <div class="link_to_register">
                <a href="/signup">Do not have an account?</a>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
