body {
    margin: 0;
    padding: 0;
}
.nav-position {
    height: 51px;
    width: auto;
}

.navbar {
    border-radius: 0;
}

.navbar_container {
    margin: 0;
    padding-right: 30px;
    width: auto;
}

.navbar-brand {
    font-weight: 700;
}

.fp-tableCell {
    text-align: center;
}

.page1_title {
    cursor: default;
}

.alert {
    margin-bottom: 0;
    border-radius: 0;
}
